<h1>ID<%= @task.id %>：タスク詳細</h1>


<div class="row">
  <table class="table col-xs-12  col-sm-8 col-md-8 col-lg-6">
      <tr>
        <th>id</th>
        <td><%= @task.id %></td>
      </tr>
      <tr>
        <th>タスク</th>
        <td><%= @task.content %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><%= @task.status %></td>
      </tr>
  </table>
</div>



<%= link_to "編集", edit_task_path, class: "btn btn-primary" %>
<%= link_to "削除", @task, method: :delete, data: {confirm: "ほんとうに消してOK？"}, class: "btn btn-danger" %><br>
