<h1>ID<%= @task.id %>：タスク詳細</h1>

<p>
  <%= @task.content %>
</p>

<%= link_to "編集", edit_task_path%><br>
<%= link_to "削除", @task, method: :delete, data: {confirm: "OK？"} %><br>
<br>
<%= link_to "一覧に戻る", tasks_path %><br>